* {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

body {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #4e443c;
    background-color: #f0efe7
}

body {
    background-image: url('../images/workshop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cover {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .3);
    overflow: auto;
}

button {
    cursor: pointer;
    outline: none;
}

button.wait {
  cursor: wait;
}

button:disabled {
  cursor: not-allowed
}

.button {
    display: inline-block;
    font-weight: 500;
    text-shadow: none;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dark {
    width: 100%;
    color: #fff;
    background: rgba(1,1,1, .8);
    border: 1px solid rgb(1,1,1);
}

.dark:hover,
.dark:focus {
  color: rgb(253, 253, 253);;
  background: rgba(1,1,1, .6); 
  border: 1px solid rgb(0,0,0);
}

.link {
    background: transparent;
    border: none;
}


.user-button {
    color: rgba(1,1,1, 1);
    font-weight: 600;
    background: #fff;
    border-radius: 2px;
}

button.user-button:hover,
button.user-button:focus {
  color:rgba(1,1,1, .7);
}
#edit-password {
  margin-top: 10px; 
  margin-bottom: 12;  
  font-size: 12px;
  font-weight: 500;
}

#create-button {
  margin-top: 10px;
}

#update-button {
  margin-top: 12px; 
  margin-bottom: 15px;
}

button.recovery {
    color: darkred;
    font-weight: 300;
    font-size: 11px;
    margin: 3px 3px 7px;
    float: right;
}

button.recovery:hover {
  color: red;
}

button.recovery:focus {
  color: rgb(255, 1, 1);
}

.logo-div {
    text-align: center;
}

img.logo {
  border-radius: 5px;
}

.index-wrapper img.logo {
  width: 18%;
  height: 18%;
  border-radius: 5px;
  margin: 2% 0 1%;
}

.sidebar img.logo {
    width: 60%;
    border-radius: 50%; 
}

.transparent {
  border-radius: 5px;
  background-color: rgba(223,221,213,0.33);
}

.index-wrapper {
  width: 25%;
  margin: 2% auto;
  padding: 5px 20px;
  text-align: left;
}

.outter-wrap {
    border: 1px solid rgba(0,0,0,.5);
    padding: 4px;
    border-radius: 5px;
    margin: 0% 3% 10% 3%;
    background-color: rgb(236, 236, 236);
}

.index-wrapper h3 {
    margin: 0px 15px;
    color: #fff;
    text-shadow: 2px 2px 8px #111;
}

.form-group {
    margin-bottom: .5rem;
}

.footer {
  margin: 25px 0;
  text-align: center;
  text-shadow: 2px 2px 8px #111
}

.footer-content {
  color: #fff;
  padding: .5rem 0;
  font-weight: normal;
  border-top: 1px solid #fff;
  background:  transparent;
  border-radius: 0;
  text-align: center;
}

form {
    padding: 7% 10% 4%;
    display: block;
    text-align: left;
}


.form {
    background-color: #fcfcfa;
    border-radius: 5px;
    border: 1px solid rgba(1,1,1,.1);
}

.header {
    width: 40%;
    border-radius: 5px;
    margin: auto;
    padding-top: 3%;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    line-height: .9;
    text-align: center;
    text-shadow: 2px 2px 8px #111
}

.greeting {
  margin: 20px 0 0;
  padding: 10px 5px;
  color: #4e443c;
  border-radius: 3px;
  background-color: rgba(223,221,213,0.33);
  border: 1px solid rgba(1,1,1, .1);
}

.header span {
    font-size: 18px; 
    font-weight: normal;
}

label[for] {
    color: rgba(1,1,1, .85);
    font-size: .85rem
}


.control {
    display: block;
    width: calc(100% - 1rem);
    padding:0.25rem .5rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

input.checkbox {
    float: left;
    margin: 3px 3px 7px;
    cursor: pointer;
}

label.checkbox {
    color: #464a4c;;
    font-weight: 300;
    font-size: 12px;
    float: left;
    cursor: pointer;
}

.control:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: none;
}

.control::-webkit-input-placeholder {
    color: #636c72;
    opacity: 1;
}
  
.control::-moz-placeholder {
    color: #636c72;
    opacity: 1;
}
  
.control:-ms-input-placeholder {
    color: #636c72;
    opacity: 1;
}
  
.control::placeholder {
    color: #636c72;
    opacity: 1;
}

input[type='file'] {
  width: 90%;
  font-size: .75rem;
  word-break: break-all;
} 

/**Remember to remove this later**/
.email {
    display: none;
}


.home-wrapper {
  width: 80%;
  margin: 2% auto;
  padding: 5px 0px;
  text-align: left; 
}

.home-page {
    width: 90%;
    margin: 4% auto;
} 

.files {
  background-color: #fff;
  border: 1px dotted #16667D; 
  border-radius: .2rem; 
  padding: .2rem;
  margin: .2rem 0rem;  
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between; 
}

.home-page header {
    margin: 5px;
    background-color: #fcfcfa;
    text-align: left;
    line-height: 1;
    padding: 10px 20px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    border-top: solid 1px #e2e0d8;
    border-left: solid 1px #e2e0d8;
    border-right: solid 1px #e2e0d8;
    border-bottom: 2px solid rgba(1,1,1, .8);

    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between; 
}

.home-page img.logo {
  border: 1px solid rgba(1,1,1, .1);
}

.home-page .logo-div {
    float: left; 
    margin-right: 20px;
}

.home-page .header-text {
    float: left; 
    padding-top: 15px;
}

.header-text label {
    font-size: 28px
}

.header-text label span {
    font-size: 13px; 
    color: rgba(1,1,1, .5);
}

.home-page header img.logo {
    width: 50px;
    margin: 0% 0 1%;
}

.home-page main {
    overflow: hidden;
}

.left-div {
    width: 24%;
    float: left;
}

.right-div {
    width: 76%;
    float: left;
}

.sidebar {
    margin: 5px;
    padding: 30px 10px 10px;
    border-radius: 5px;
    border: solid 1px #e2e0d8;
    background: #f0efe7;
    *background-color: rgba(223,221,213,0.33);
}

.content {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fcfcfa;
    border: solid 1px #e2e0d8;
}

.content-wrapper {
    border: 1px solid #e2e0d8;
    padding: 4px 10px; 
    border-radius: 4px;
}

.content-header {
  padding: 20px 0 3px;
  margin-bottom: 10px;
  border-bottom: solid 1px #e2e0d8;
}

.navbar {
    background-color: inherit;
    margin-top: 20px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}

.editable-div {
  width: auto;
  font-size:.9rem;
  font-weight: normal;
  color: #464a4c;
  padding: 10px;
  line-height: 1.5;
  margin: 0 0 4px;
  min-height: 120px;
  background-color: #fff;
}

div:empty::before {
  color: #8a95a0;
  padding: .5rem 0rem;
  font-weight: normal;
  min-height: 28px;
}

div[placeholder]:not([placeholder=""]):empty::before {
  content: attr(placeholder);
  font-size:.9rem;
  line-height: 1.25;
  font-weight: normal;
  color: #464a4c;
  background-color: #fff;
}

.view-request-table {
  width: calc(100% - 24px);
}

.request-history-table {
  width: calc(100% - 20px);
}

.rTable {
  margin: 10px;
  display: table;
}

.rTableRow {
  display: table-row;
}

.rTableCell {
  font-weight: normal;
  font-size: 12px;
}

.rTableHeading {
  line-height: 2;
  padding: 0px 2px;
  font-weight: 800;
  font-size: 14px;
  border: 5px solid #fcfcfa;
}

.rTableCell,
.rTableHeading {
  display: table-cell;
  word-break: break-all;
  background-color: transparent;
  border: 5px solid #fcfcfa;
}

.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.rTableBody {
  display: table-row-group;
}

.mini,
.rTableCell button {
  color: #0388a6;
  font-size: 10px;
  padding: 3px;
  border-radius: 3px;
  background-color: #f0efe7;;
  border: 1px solid rgba(1,1,1, .5);
}

.hide {
  display: none;
}

.details {
  width: 60%;
}

.filter-btn {
  font-size: 110px;
  font-weight: normal;
  color: #fff;
  background-color: #0388a6;
  padding: 2.5px;
  border-radius: 2px;
  border: 1px solid #0388a6;
}

.departments {
  direction: ltr;
  width: 50%;
}

 .search-container {
  border-bottom: 1px solid #e2e0d8;
  padding-bottom: 5px;
  direction: rtl;
} 

.search-container form {
  padding: 0;
}

.search-container select {
  padding: 4px;
  font-size: 12px;
  width: 100%;
  border-radius: 2px;
  direction: ltr;
}

.search-container form button {
  font-size: 12px;
  padding: 4px;
  color: #fff;
  background-color: rgba(1,1,1, .8);
  border-radius: 2px;
  border: 1px solid #000;
}

button i {
  font-size: 12px;
}

button.filter {
  direction: ltr; 
  margin-left: 4px; 
  font-size: 12px
}

#filters-menu div,
#user-filters-menu div {
  padding: 2px;
}

#filters-menu button,
#user-filters-menu button {
  width: 100%;
  margin-bottom: 2px;
}

.data {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 3px 8px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e2e0d8;
  font-size: 12px;
  font-weight: normal;
}

.data-group {
  margin: 5px 10px;
  display: block;
}

.buttons-div {
  margin: 5px 0;
}

.status-update button {
  font-size: 11px;
}

.save {
  border-radius: 3px;
  padding: 5px;
  color: #fff;
  margin-right: 5px;
}

.cancel {
  border-radius: 0;
  background-color: transparent;
  color: #0388a6;
  border: none;
}

.status-update {
  display: none;
}

#update {
  color: #0388a6;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: .7em;
  background-color: #fff;
  border: 1px dotted #0388a6
}

.nav-menu {
  width: 25px;
  padding: 7px 0;
  position: relative;
  display: inline-block;
}

.nav-menu:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-top: 2px solid #4e443c;
  border-bottom: 2px solid #4e443c;
  top: 0px;
}
.nav-menu:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  height: 2px;
  width: 100%;
  background: #4e443c;
} 

.clear-file:hover{
  text-decoration: none;
}


.clear-file {
  padding: .1rem .3rem;
  margin-left: .5rem;
  color: #777;
  font-size: .8rem;
  font-weight: 600;
  background: transparent;
  border: none;
}

span.file {
  color:red;
}

@media all and (max-width: 575px) {
    .header {
        width: 60%;
        font-size: 1.7em;
        margin: 15px auto;
    }

    .details {
      width: 100%;
    }

    .index-wrapper {
        width: 60%;
    }

    .home-wrapper {
      width: 80%;
    }

    .right-div,
    .left-div {
        width: 100%;
    }
}

@media all and (min-width: 575px) and (max-width: 676px){
    .header  {
        width: 50%;
    }
    .details {
      width: 100%;
    }

    .index-wrapper {
        width: 50%;
    }

    .home-wrapper {
      width: 75%;
    }

    .right-div,
    .left-div {
        width: 100%;
    }
}

@media all and (min-width: 676px) and (max-width: 877px) {
    .header {
        width: 40%;
    }

    .details {
      width: 80%;
    }

    .index-wrapper {
        width: 40%;
    }

    .home-wrapper {
      width: 70%;
    }
}
